#main_container_div{
    width: 330px;
    height: auto;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 20px 10px;
}
p{
    padding: 0;
    margin: 0;
}
#logo{
    width: 80px;
    border-radius: 5px;
}
#title_p{
    font-size: 20px;
    margin-top: 10px;
    line-height: 25px;
    font-weight: 500;
}
#fb_logo{
    width: 180px;
    margin-top: 10px;
   
}a{
    text-decoration: none;
    color: rgb(26, 26, 26);
    transition: .5s;
    
}
#fb_follow_btn{
    padding: 5px 20px ;
    background-color: #1778F2;
    margin-top: -5px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    
    
}
#fb_follow_btn:hover{
    transform: scale(1.04);
}
.common_flex{
    display: flex;
    justify-content: start;
    align-items: center;
}
.common_flex p{
    margin-left: 10px;
    margin-top: -5px;
}
#body_img{
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}







