body{
    margin: 0;
    padding: 0;
    background-color: white;
}
p{
    margin: 0;
    padding: 0;
}
#body_sec_main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#body_sec_main .inner_sec_main_div{
    width: 600px;
    height: auto;
    background-color: #14CB95;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 60px 30px;
    color: rgb(250, 250, 250);
}
#body_sec_main .inner_sec_main_div .user_div{
    width: 100px;
    height: 100px;
}
#body_sec_main .inner_sec_main_div .user_div img{
    height: 100%;
    border-radius: 10px;
}




























