body{
    margin: 0;
    padding: 0;
    
}
#body_section_main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

}













