@media screen and (max-width: 500px) {
    #body_sec_main {
      justify-content: center;
    }
    .account_info_div_main{
        width: 95%;
        padding: 20px 10px;
        padding-top: 40px;
    }
    .table_div {
        width: 100%;
        background-color: rgb(0, 0, 0);
        overflow: scroll;
        border-radius: 10px;
        scrollbar-width: none;
        
    }
    .order_div_top_bar{
        flex-direction: column;
        align-items: start;
        height: auto;
        gap: 5px;
    }
  }