body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
p{
    margin: 0;
    padding: 0;
}
#body_sec_main{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    /* align-items: center; */

    padding: 30px 0px;
}
.account_info_div_main{
    width: 1000px;
    
    background-color: rgba(147, 147, 147, 0.247);
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    padding: 30px;
}
.account_info_top_bar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
    border-bottom: 3px solid black;
    padding-bottom: 25px;
}
.account_info_top_bar .user_img_div{
    width: 50px;
    height: 50px;
    border: 3px solid rgb(95, 95, 95);
    border-radius: 100px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;

}
.account_info_top_bar .user_img_div img{
    height: 100%;
}
.logout_div{
    position: absolute;
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 95px;
    display: none;
    cursor: pointer;
}
.user_img_div:hover .logout_div{
    display: block;
}
a{
    text-decoration: none;
}

#total_order_div{
    width: 100%;

}
.order_div_top_bar{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 10px;
    gap: 20px;
    border-bottom: .1px solid rgb(0, 0, 0);
}
.order_list_div_main{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px 0px;
}
.order_list_div_main h6{
    font-size: 20px;
    border-radius: 10px;
}
.order_list_div_main .table_div{
    width: 100%;
}
.order_list_div_main .table_div table tr td img{
    border-radius: 10px;
}











